<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>TAO HOLLAND DESIGNS •Creative Solutions• Ottawa,Canada</title>
  <meta name="description" content="Graphic design by Tao Holland">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
{% if page.url contains "home"%}
  <link href="{{site.baseurl}}/css/home.css" rel="stylesheet">
  {%else%}
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  {%endif%}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to main navigation</a></li>
  </ul>

  <header role="banner">
    <div class="masthead">
      <div class="logo pad-t-1-2 pad-b-1-2 gutter-1-2">
        <img class="image-flex pad-b-1-2" src="images/candyicon.svg" alt="TAO HOLLAND DESIGNS">
        <h1 class="kilo">TAO HOLLAND</h1>
      </div>
      <div class="nav">
        <div class="wrapper unit xs-1 s-1 m-1 l-3-4 gutter-1-2">
          <nav role="navigation" id="nav">
            <ol class="milli list-group-inline push-0 navigation">
              <li><a href="{{site.baseurl}}/">ABOUT |</a></li>
              <li><a href="#reel">REEL |</a></li>
              <li><a href="{{site.baseurl}}/work-tactile/">WORK |</a></li>
              <li><a href="{{site.baseurl}}/contact/">CONTACT |</a></li>
              <li><a href="{{site.baseurl}}/resume/">RESUME</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    {{content}}
  </main>

    <footer role="contentinfo">
      <div class="footer pad-t-1-2 pad-b-1-2 text-center">
        <div class="wrapper gutter-1-2">
          <p class="push-0 micro text-center">TAO HOLLAND DESIGNS, 2017.</p>
        </div>
      </div>
    </footer>

</body>
</html>
